.contact-heading {
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    .contact-heading {
        width: 70%;
    }
}

@media only screen and (max-width: 992px) {
    .contact-heading {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .contact-heading {
        width: 100%;
    }
}
