.post-row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.post-div {
    position: relative;
    width: 32rem;
    margin-bottom: 2rem;
}

.bottom-left {
    position: absolute;
    top: 15.5rem;
    left: .5rem;
}

@media only screen and (max-width: 1200px) {
    .post-div {
        width: 28rem;
    }
    .bottom-left {
        top: 13rem;
    }
}

@media only screen and (max-width: 990px) {
    .post-div {
        width: 21rem;
    }
    .bottom-left {
        top: 8.9rem;
    }
    h2.title {
        font-size: 27px;
    }
    p {
        font-size: 11px;
    }
}

@media only screen and (max-width: 725px) {
    .post-div {
        width: 19rem;
    }
    .bottom-left {
        top: 8.2rem;
    }
    h2.title {
        font-size: 20px;
    }
    p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 660px) {
    .post-div {
        width: 17rem;
    }
    .bottom-left {
        top: 7.2rem;
    }
    h2.title {
        font-size: 17px;
    }  
}

@media only screen and (max-width: 600px) {
    .post-div {
        width: 16rem;
    }
    .bottom-left {
        top: 6.5rem;
    } 
}

@media only screen and (max-width: 578px) {
    .post-row {
        flex-direction: column;
    }
    .post-div {
        width: 100%;
        height: auto;
    }
    .bottom-left {
        top: 220px;
    } 
    h2.title {
        font-size: 25px;
    } 
}
