{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block file_css %}
<link rel="stylesheet" href="{% static 'accounts/styles/profile.css' %}">
{% endblock file_css %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<div class="container-md mt-5">
    <form method="POST" class="row mt-3" enctype="multipart/form-data">
        <div class="col-4 text-center mb-4">
            {% if request.user.profile.profile_picture %}
                <img src="{{ request.user.profile.profile_picture.url }}" alt="" class="profile-pic rounded img-thumbnail">
            {% else %}
                <img src="{% static 'accounts/images/default.jpg' %}" alt="default profile pic" class="profile-pic rounded img-thumbnail"/>
            {% endif %}
            <div class="mt-2">
                {{ profile_form.profile_picture }}
            </div>            
        </div>  
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <h2>My Profile</h2>
            <div method="POST" class="row mt-3">
                {% csrf_token %}
                <div class="col-6">
                    {{ user_form.username|as_crispy_field }}
                    <br>
                    {{ user_form.first_name|as_crispy_field }}
                    <br>
                    {{ profile_form.province|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ user_form.email|as_crispy_field }}
                    <br>
                    {{ user_form.last_name|as_crispy_field }}
                    <br>
                    {{ profile_form.phone|as_crispy_field }}
                </div>    
                <div class="col-12">
                    <br>
                    {{ profile_form.job_description|as_crispy_field }}
                    {{ profile_form.media | safe | linebreaks }}                    
                    <label for="">About info</label>   
                    {{ profile_form.about_info }}                                          
                </div>                           
                <div class="col-6 mt-3">
                    <button type="submit" class="btn btn-outline-success">Update</button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-12 mt-5">      
        {% if not author_article %}
            <h2 class="mb-3">You have no post yet</h2>
        {% else %}
            <h2 class="mb-3">Your latest uploads</h2>   
        {% endif %}            
        <div class="author-blogs">        
          {% for data in author_article %}
            <a href="{% url 'blog:blog_detail' data.slug %}" class="card mb-4 blog-title text-black">
              <img src="{{ data.heading_img.url }}" class="card-img-top" alt="...">
              <div class="card-header fw-bold text-muted">{{ data.category_choices|upper }}</div>
              <div class="card-body">
                <h3 class="card-title fw-bold">{{ data.title|truncatechars:70|title }}</h3>
              </div>
            </a>         
          {% endfor %}     
        </div>
    </div>           
</div>
{% endblock content %}