{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block file_css %}
<link rel="stylesheet" href="{% static 'accounts/styles/sign-in.css' %}">
{% endblock file_css %}

{% block title %}
Sign In
{% endblock title %}


{% block content %}
<div class="container-md mt-5">                   
    <div class="row">
        <div class="col-lg-8 sign-div">
            <img src="{% static 'accounts/images/signin.jpeg' %}" alt="Woman smiling" class="img-fluid rounded">
            <div class="top-left rounded">
                <h1 class="fw-light p-1 heading-page">Read a blog</h1>
            </div>
            <div class="bottom-left rounded">
                <p class="fw-light fst-italic p-1 bg-light text-black rounded">"The more that you read,
                    the
                    more things
                    you
                    will know. The
                    more
                    that you learn, the more places you’ll go."</p>
            </div>
            <div class="bottom-left-1 rounded">
                <p class="fw-light p-1 bg-light text-black rounded">-Dr. Seuss</p>
            </div>
        </div>
        <div class="col-lg-4 align-self-center">            
            {% if not request.user.is_anonymous %}
            <h1>You already signed in</h1>
            <h2>{{ user }}</h2>
            {% else %}                
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <h1 class="display-2 text-center fw-bold mb-3">Sign In</h1>
            <h1 class="display-2 text-center fw-bold mb-3">{{ user }}</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            {% endif %}
            </div>
        </div>
</div>
{% endblock content %}