{% extends 'base.html' %}
{% load static %}


{% block file_css %}
<link rel="stylesheet" href="{% static 'blog/styles/author.css' %}">
{% endblock file_css %}

{% block title %}
Author
{% endblock title %}

{% block content %}
<div class="container-md mt-5">
    <div class="row">
        <div class="col-lg-2">
            <img src="{{ author_info.profile_picture.url }}" alt="author-image"
                class="img-fluid rounded">         
        </div>
        
        <div class="col-lg-10 align-self-center">
            <h1 class="lh-base mt-2">{{ author_info.user.username }}</h1>            
            {% if author_info.job_description %}
              <p>{{ author_info.job_description }}</p>
            {% endif %}              
        </div>
        <div class="col-lg-4 mt-4">
          <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">Username</th>
                  <td>{{ author_info.user.username }}</td>
                </tr>                
                  <tr>
                    <th scope="row">Email</th>
                  {% if author_info.user.email %}                                    
                    <td>{{ author_info.user.email }}</td>
                  {% else %}
                    <td>None</td>
                  {% endif %}
                  </tr>            
                <tr>
                  <th scope="row">First name</th>
                  <td>{{ author_info.user.first_name }}</td>
                </tr>
                <tr>
                  <th scope="row">Last name</th>
                  <td>{{ author_info.user.last_name }}</td>
                </tr>
                <tr>
                  <th scope="row">Province</th>                  
                  {% if author_info.province %}
                    <td>{{ author_info.province }}</td>                    
                  {% else %}
                    <td></td>
                  {% endif %}                    
                </tr>                              
              </tbody>
          </table> 
        </div>
    </div>
    <hr>
    <div class="col-md-10">
        <div class="lh-base mt-md-5 fs-4">          
          {% if author_info.about_info %}
            {{ author_info.about_info | safe | linebreaks }}            
          {% endif %}            
        </div>
    </div>
    <hr>
    <div class="mt-5">        
      
      {% if author_article %}
        <h2 class="mb-4 ml-3">{{ author_info.user.first_name }} {{ author_info.user.last_name }} latest uploads:</h2>        
      {% else %}
        <h2 class="mb-4 ml-3">{{ author_info.user.first_name }} {{ author_info.user.last_name }} had not upload yet.</h2>                
      {% endif %}
        
      <div class="col-12">
        <div class="author-blogs">        
          {% for data in author_article %}
            <a href="{% url 'blog:blog_detail' data.slug %}" class="card mb-4 blog-title text-black">
              <img src="{{ data.heading_img.url }}" class="card-img-top" alt="...">
              <div class="card-header fw-bold text-muted">{{ data.category_choices|upper }}</div>
              <div class="card-body">
                <h3 class="card-title fw-bold">{{ data.title|truncatechars:70|title }}</h3>
              </div>
            </a>         
          {% endfor %}     
        </div>
    </div>           
  </div>
</div>
{% endblock content %}