{% extends 'base.html' %}
{% load static %}


{% block file_css %}
<link rel="stylesheet" href="{% static 'blog/styles/author.css' %}">
{% endblock file_css %}

{% block title %}
Author
{% endblock title %}

{% block content %}
<div class="container-md mt-5">
    <div class="row">
        <div class="col-lg-2">
            <img src="{{ author_info.profile_picture.url }}" alt="author-image"
                class="img-fluid rounded">   
      
        </div>
        
        <div class="col-lg-10 align-self-center">
            <h1 class="lh-base mt-2">{{ author_info.user.username }}</h1>
            
            {% if author_info.job_description %}
              <p>{{ author_info.job_description }}</p>
            {% endif %}
              
        </div>
        <div class="col-lg-4 mt-4">
          <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">Username</th>
                  <td>{{ author_info.user.username }}</td>
                </tr>                
                  <tr>
                    <th scope="row">Email</th>
                  {% if author_info.user.email %}                                    
                    <td>{{ author_info.user.email }}</td>
                  {% else %}
                    <td>None</td>
                  {% endif %}
                  </tr>            
                <tr>
                  <th scope="row">First name</th>
                  <td>{{ author_info.user.first_name }}</td>
                </tr>
                <tr>
                  <th scope="row">Last name</th>
                  <td>{{ author_info.user.last_name }}</td>
                </tr>
                <tr>
                  <th scope="row">Province</th>
                  <td>{{ author_info.province }}</td>
                </tr>                              
              </tbody>
          </table> 
        </div>
    </div>
    <hr>
    <div class="col-md-10">
        <div class="lh-base mt-md-5 fs-4">          
          {% if author_info.about_info %}
            {{ author_info.about_info | safe | linebreaks }}            
          {% endif %}            
        </div>
    </div>
</div>
{% endblock content %}