{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Blog add comment
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <div class="col-md-6">
        <h2>Comment</h2>
        <form method="POST">
            {% csrf_token %}
            {{ comment_form.body|add_class:'form-control' }}
            <button type="submit" class="btn btn-sm btn-success my-3">Submit</button>
        </form>
    </div>
</div>
<div class="mb-5"></div>
<br><br><br>
{% endblock content %}
    