{% extends 'base.html' %}
{% load static %}


{% block file_css %}
<link rel="stylesheet" href="{% static 'blog/styles/contact.css' %}">
{% endblock file_css %}

{% block title %}
Contact
{% endblock title %}

{% block content %}
<div class="container-md mt-5">
    <h4 class="mb-5">Contact</h4>
    <h1 class="display-2 fw-bold contact-heading">We’re here to help you level up</h1>
    <br>
    <div class="row mt-md-5">
        <div class="col-md-4">
            <p class="fs-5 lh-md w-75">We're just one click away to help you take your brand or product from
                great
                to
                incredible. Fill
                in the form to share
                more details about your project. Or your favorite gum flavor. Either way, we’d love to talk.</p>
        </div>
        <div class="col-md-8 bg-success text-light p-4 rounded">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">What's your name?</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Your email</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px;"></textarea>
                    <label for="floatingTextarea2" class="text-secondary">Comments</label>
                </div>
            </div>
            <input class="btn btn-outline-light" type="submit" value="Submit">
        </div>
    </div>
</div>
{% endblock content %}