{% extends 'base.html' %}
{% load static %}


{% block file_css %}
<link rel="stylesheet" href="{% static 'blog/styles/home.css' %}">
{% endblock file_css %}


{% block title %}
Home
{% endblock title %}



{% block content %}
<div class="container-md recent-div">
    <h2>Recent posts</h2>
    <div class="row mb-lg-3 mb-md-2 mb-sm-2">
        <div class="col-lg-7 d-flex flex-column justify-content-between">
            <div class="image-container">
                <img src="{% static 'blog/images/building.jpeg' %}" alt="recent blog image"
                    class="img-fluid rounded mt-4">
                <div class="one-text rounded px-2">
                    <h1><a href="{% url 'blog:blog' %}">The quiet financial crisis</a></h1>
                    <p><a href="{% url 'accounts:profile' %}" class="author-name">Carmen Reinhart</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 image-container">
                    <img src="{% static 'blog/images/finance.jpg' %}" alt="recent blog image"
                        class="img-fluid rounded mt-4">
                    <div class="two-text rounded px-2">
                        <h1><a href="">Pandemic wage dilemma</a></h1>
                        <p><a href="" class="author-name">Felipe Medalla</a></p>
                    </div>
                </div>
                <div class="col-6 image-container">
                    <img src="{% static 'blog/images/health.jpeg' %}" alt="recent blog image"
                        class="img-fluid rounded mt-4">
                    <div class="two-text rounded px-2">
                        <h1><a href="">Morning exercises routine</a></h1>
                        <p><a href="" class="author-name">Robert Mendoza</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-lg-column justify-content-between">
            <div class="col-6 image-container">
                <img src="{% static 'blog/images/fashion.jpg' %}" alt="recent blog image"
                    class="img-fluid rounded mt-4">
                <div class="three-text rounded px-2">
                    <h1><a href="">Fashion trends</a></h1>
                    <p><a href="" class="author-name">Angeline Tham</a></p>
                </div>
            </div>
            <div class="col-6 image-container">
                <img src="{% static 'blog/images/music.jpeg' %}" alt="recent blog image" class="img-fluid rounded mt-4">
                <div class="three-text rounded px-2">
                    <h1><a href="">Upcoming rap 2022</a></h1>
                    <p><a href="" class="author-name">Lil Baby</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}