{% extends 'base.html' %}
{% load static %}


{% block file_css %}
<link rel="stylesheet" href="{% static 'blog/styles/home.css' %}">
{% endblock file_css %}


{% block title %}
Home
{% endblock title %}


{% block content %}
<div class="container-md recent-div mt-3"> 
    <h2>Recent posts</h2>
    <div class="row mb-lg-3 mb-md-2 mb-sm-2">
        <div class="col-lg-7 d-flex flex-column justify-content-between">
            <div class="image-container">
                <img src="{{ first_query.heading_img.url }}" alt="Heading image" class="img-fluid rounded mt-4">     
                <div class="one-text rounded px-2">
                    <h1><a href="{% url 'blog:blog_detail' first_query.slug %}">{{ first_query.title }}</a></h1>
                    <p><a href="{% url 'blog:author' first_query.slug %}" class="author-name">{{ first_query.author }}</a></p>
                </div>
           </div>
           <div class="row">            
            {% for data_two in first_second %}                                
                <div class="col-6 image-container">
                  <img src="{{ data_two.heading_img.url }}" alt="" class="img-fluid rounded mt-4 second-pic">
                  <div class="two-text one-text rounded px-2">
                    <h1><a href="{% url 'blog:blog_detail' data_two.slug %}">{{ data_two.title }}</a></h1>
                    <p><a href="" class="author-name">{{ data_two.author }}</a></p>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-5 d-flex flex-lg-column justify-content-between">
          {% for data_last in third_last %}                                
            <div class="col-12 image-container">
              <img src="{{ data_last.heading_img.url }}" alt="" class="img-fluid rounded mt-4">
              <div class="three-text rounded px-2">
                <h1><a href="{% url 'blog:blog_detail' data_last.slug %}">{{ data_last.title }}</a></h1>
                <p><a href="{% url 'blog:author' data_last.slug %}" class="author-name">{{ data_last.author }}</a></p>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
</div> 
{% endblock content %}