{% extends 'base.html' %}
{% load static %}


{% block file_css %}
<link rel="stylesheet" href="{% static 'blog/styles/signup.css' %}">
{% endblock file_css %}


{% block title %}
Sign Up
{% endblock title %}



{% block content %}
<div class="container-md">
    <div class="row">
        <div class="col-md-8 sign-div">
            <img src="{% static 'blog/images/signup.jpg' %}" alt="" class="img-fluid">
            <div class="top-left rounded">
                <h1 class="fs-1 fw-light p-1">Explore ideas and trends</h1>
            </div>
            <div class="bottom-left rounded">
                <p class="fw-light fst-italic p-1 bg-light text-black rounded">"
                    Alone we can do so little; together we can do so much."</p>
            </div>
            <div class="bottom-left-1 rounded">
                <p class="fw-light p-1 bg-light text-black rounded">-Helen Keller</p>
            </div>
        </div>
        <div class="col-md-4 align-self-center">
            <h1 class="display-2 text-center fw-bold mb-3">Sign Up</h1>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}