
.title-blog:hover {
    color: black;
}

#edit-button:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
    transition: .20s;
}

.profile-pic {
    height:280px;
    width:auto;
    max-width:500px;
}

.edit-div {
    width: fit-content;
}

.edit-text {
    text-decoration: none;
    color: black;
}

.blog-title {
    text-decoration: none;
}

.blog-title:hover {
    text-decoration: underline;
}

.row .card {
    padding-left: 0;
    padding-right: 0;
}

.card {
    width: 18rem;
    margin-right: 20px;
}

.author-blogs {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

@media only screen and (max-width: 656px) {
    .card {
        margin-right: 0;
    }

    .author-blogs {
        justify-content: space-between;
    }   
}

@media only screen and (max-width: 629px) {
    .card {
        width: 100%;
        height: auto;
    }

    .author-blogs {
        flex-direction: column;    
    }
}
